<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=3.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="CT" connectionString="Data Source=192.168.17.202\project;DataBase=ct_ct;User ID=sa;Password=sa;" providerName="System.Data.SqlClient"/>
    <add name="DATA1" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=127.0.0.1)(PORT=1521)) (CONNECT_DATA=(SERVICE_NAME=orcl)));User ID=MIGRATIONS;Password=MIGRATIONS;Unicode=True" providerName="System.Data.OracleClient"/>
  </connectionStrings>
  <appSettings>
    <add key="DbType" value="SqlServer"/>
    <add key="ReportUrlBase" value="http://192.168.17.201/reportserver$fhmrp"/> 
    <add key="rptpassword" value="1q2w3e-erow"/>
    <add key="rptusername" value="rptuser"/>
    <add key="HttpsEnabled" value="false"/>
    <add key="JXCReportsFolder" value="/JXCReports"/>
    <add key="UploadFileSize" value="204857600"/>
    <add key="UploadPhotoSize" value="10485760"/>
    <add key="FCKeditor:BasePath" value="~/FCKeditor/"/>
    <add key="FCKeditor:UserFilesPath" value="~/UploadManager/"/>
    <add key="microsoft.visualstudio.teamsystems.aspnetdevserver:/JXC" value="7952;True;428;1;-8588851048152828538"/>
    <add key="ChartImageHandler" value="Storage=session;Timeout=20;" />
    <add key="aspnet:MaxHttpCollectionKeys" value="2000" />
  </appSettings>
</configuration>